<style>
  .custom-modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: transparent;
    transition: all 300ms ease-out;
    opacity: 0;
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    flex-flow: column nowrap;
    z-index: 10030;
    padding: 100px 20px 20px;
  }
  .modal__inner {
    background-color: #fff;
    padding: 6rem 2rem;
    position: relative;
    margin: auto;
    width: 100% !important;
    max-width: 750px!important;
    z-index: 9002;
  }
  .modal__close {
    position: absolute;
    right: 0;
    top: 0;
  }
  .btn--close {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #979696; 
  }
  .btn--close .icon-close {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle; 
  }
  .country-container {
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    margin-top: 24px;
    font-size: 12px;
  }
  .shipping-table {
    width: 100%;
  }
  
</style>
<div class="custom-modal" id="shipping-guide">
  
  <div class="modal__inner">
    <div class="modal__close">
      <button type="button" class="btn--close js-modal-close">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon-close" viewBox="0 0 14 14"><path d="M.693 1.4l11.749 11.749.707-.707L1.4.693z"/><path d="M12.442.693L.693 12.442l.707.707L13.149 1.4z"/></svg>
      </button>
    </div>
    <table class="shipping-table">
      <tr>
        <td><b>COUNTRY</b></td>
        <td><b>COST</b></td>
        <td><b>DELIVERY TIME</b></td>
        <td><b>SPEND $100+</b></td>
      </tr>
      <tr>
        <td>USA</td>
        <td>$12</td>
        <td>4-6 BUSINESS DAYS</td>
        <td>FREE</td>
      </tr>
      <tr>
        <td>CANADA</td>
        <td>$12</td>
        <td>CANADA: 4-6 BUSINESS DAYS<br>ONTARIO: 3-4 BUSINESS DAYS</td>
        <td>FREE</td>
      </tr>
      <tr>
        <td>UK</td>
        <td>$20</td>
        <td>7-12 BUSINESS DAYS</td>
        <td>FREE</td>
      </tr>
      <tr>
        <td>AUSTRALIA</td>
        <td>$20</td>
        <td>7-12 BUSINESS DAYS</td>
        <td>FREE</td>
      </tr>
      <tr>
        <td>INTERNATIONAL</td>
        <td>$20</td>
        <td>7-15 BUSINESS DAYS</td>
        <td>FREE</td>
      </tr>
    </table>
    {% assign countries = 'AUSTRALIA|AUSTRIA|BELGIUM|BRAZIL|CANADA|CROATIA|DENMARK|ESTONIA|FINLAND|FRANCE|GERMANY|GIBRALTAR|GREECE|HONG KONG|HUNGARY|IRELAND|ISRAEL|ITALY|JAPAN|KOREA|LATVIA|LITHUANIA|LUXEMBOURG|MALAYSIA|MALTA|NETHERLANDS|NEW ZEALAND|NORWAY|POLAND|PORTUGAL|RUSSIA|SINGAPORE|SOUTH KOREA|SPAIN|SWEDEN|SWITZERLAND|UNITED KINGDOM|UNITED STATES' | split: '|' %}
    <b><p style="margin-top: 20px;">We ship to the following countries:</p></b>
    <div class="country-container">
	{% for country in countries %}
	    <p>{{country}}</p>
    {% endfor %}
    </div>
  </div>
  <div class="modal--mask"></div>
  
</div>


<script>

  $(document).ready(function() {
    
    const $openLink = $('.open-shipping-guide'),
          $modal = $('#shipping-guide'),
          $modalClose = $('#shipping-guide .modal__close'),
          $modalMask = $('#shipping-guide .modal--mask');

    
    var openShipping = function() {
       $modal.css('display', 'flex');
       $modal.css('opacity', '1');
       $modalMask.css('display', 'block');
    };
    
    var closeShipping = function() {
       $modal.css('opacity', '0');
       $modal.css('display', 'none');
       $modalMask.css('display', 'none');
    };
    
    $openLink.on( 'click', function(e) {
      e.preventDefault;
      openShipping();
    });
    $modalClose.click(closeShipping);
        
  });
  
</script>