{% assign show_on_page = true %}
{% if section.settings.home-page-only and template != 'index' or template == 'password' %}
  {% assign show_on_page = false %}
{% endif %}

<div
  class="announcement--root bannersale"
  data-section-id="{{ section.id }}"
  data-section-type="announcement"
  data-js-class="IndexAnnouncement"
>
{% if section.settings.enabled and show_on_page %}

  {% if section.settings.link != empty %}
    <a class="announcement--link--full-width" href="{{section.settings.link}}">
  {% endif %}

  <div class="announcement--wrapper-other">
 

    {% if section.settings.text != blank %}
      <div class="announcement--text">
        <strong>{{ section.settings.text | escape }}</strong>
<div id="timer">
<!--   <div id="days"></div> -->
  <div id="hours"></div>
  <div id="minutes"></div>
  <div id="seconds"></div>
</div>
      </div>
    

    {% endif %}
  </div>

  {% if section.settings.link != empty %}
    </a>
  {% endif %}

{% endif %}
</div>

{% schema %}
{
  "name": "Banner Sale",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Show banner sale",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "home-page-only",
      "label": "Home page only",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Happy Thanksgiving! Get up to 40% off for Black Friday"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ]
}
{% endschema %} 

<script type="text/javascript">
function makeTimer() {

	//		var endTime = new Date("29 April 2018 9:56:00 GMT+01:00");	
		var endTime = new Date("4 December 2019 5:59:59 GMT+01:00");			
			endTime = (Date.parse(endTime) / 1000);

			var now = new Date();
			now = (Date.parse(now) / 1000);

			var timeLeft = endTime - now;

			var days = Math.floor(timeLeft / 86400); 
			var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
			var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
			var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));
  
			if (hours < "10") { hours = "0" + hours; }
			if (minutes < "10") { minutes = "0" + minutes; }
			if (seconds < "10") { seconds = "0" + seconds; }

			$("#days").html(days + "<span> Days</span>");
			$("#hours").html(hours + "<span> Hours</span>");
			$("#minutes").html(minutes + "<span> Minutes</span>");
			$("#seconds").html(seconds + "<span> Seconds</span>");		

	}

	setInterval(function() { makeTimer(); }, 1000);
</script>
