<footer class="layout--footer fw--blocks font--accent font--size-1 spacing--5x" data-js-class="Footer" data-section-id="footer" data-section-type="footer" data-js-loaded="true">

<div class="row-footer">
  
  <div class="column-footer">
    <h2>About 437</h2>
    <a href="https://437swimwear.com/pages/our-story-new"><p>Our Story</p></a>
    <a href="https://437swimwear.com/pages/careers"><p>Careers</p></a>
    <a href="https://437swimwear.com/pages/newsletter-signup"><p>Newsletter Signup</p></a>
    <a href="https://437swimwear.com/search"><p>Search</p></a>
    <a href="https://437swimwear.com/pages/terms-conditions-2"><p>Terms & Conditions</p></a>
    <a href="https://437swimwear.com/pages/privacy-policy"><p>Privacy Policy</p></a>
   
  </div>
  
  <div class="column-footer">
    <h2>Order Information</h2>
    <a href="https://437swimwear.com/pages/faqs"><p>FAQ</p></a>
    <a href="https://437swimwear.com/blogs/try-on-reviews"><p>Try On Reviews</p></a>
    <a href="https://437swimwear.com/pages/toronto-loft"><p>Toronto Loft</p></a>
    <a href="https://437swimwear.com/pages/customer-care"><p>Sizing & Suit Care</p></a>
    <a href="https://437swimwear.com/pages/shipping"><p>Shipping & Returns Policy</p></a>
   

   
  </div>
  <div class="column-footer">
<!--     <h2>About 437</h2> -->
   <div class="klaviyo-form-J5gKz6"></div>
    <div class="klaviyo-form-J4cEGz"></div>
  </div>
</div>

  <br><br>
    
      <div class="spacing--2x">&copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: '/' }}.</div>

    
      <div class="footer--payment-icons">
        {% include 'framework--payment-icons' %}
      </div>

</footer>